@import "theme-variables";

.form {
    flex-grow: 1;
}
.optionContainer {
    width: 100%;
    display: flex;
    align-items: center;
    //justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
}
.optionText {
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 100%;
    height: 3rem;
    border-radius: 1.5rem;
    box-shadow: $light-drop-shadow-sm;
    :global(body.dark) & {
        box-shadow: $dark-drop-shadow-sm;
    }
}
.optionCheckbox {
    cursor: pointer;
    align-items: center;
    justify-content: center;
    height: 3rem;
    min-width: 3rem;
    border-radius: 1.5rem;
    background: linear-gradient(145deg, $light-inset-2, $light-inset-1);
    box-shadow: $light-drop-shadow-sm;

    &:hover {
        background: linear-gradient(145deg, $light-inset-1, $light-inset-2);
    }
    :global(body.dark) & {
        box-shadow: $dark-drop-shadow-sm;
        background: linear-gradient(145deg, $dark-inset-2, $dark-inset-1);
        &:hover {
            background: linear-gradient(145deg, $dark-inset-1, $dark-inset-2);
        }
    }
}
.activeCheckbox {
    justify-content: center;
    height: 3rem;
    min-width: 3rem;
    border-radius: 1.5rem;
    box-shadow: $light-drop-shadow-sm;
    background: linear-gradient(
        145deg,
        $light-selected-1,
        $light-selected-2
    ) !important;

    :global(body.dark) & {
        box-shadow: $dark-drop-shadow-sm;
        background: linear-gradient(
            145deg,
            $dark-selected-1,
            $dark-selected-2
        ) !important;
    }
}

.noAnswer {
    padding-left: 6px;
    margin-top: 0.5rem;
    cursor: pointer;
    text-decoration: underline;
    text-align: center;
    font-size: 0.8rem;

    @media only screen and (max-width: 768px) {
        width: 100%;
        text-align: center;
        position: fixed;
        bottom: 0.5rem;
        left: 0;
        font-size: 0.9rem;
    }
}
@media only screen and (max-width: 768px) {
    .buttonOffset {
        bottom: 1.2rem !important;
    }
}
