@import "theme-variables";

.title {
    width: 100%;
    margin-bottom: 3rem;
}
.percentageContainer {
    width: 100%;
    margin-bottom: 1rem;
}
.percentageBackground {
    margin-top: 0.5rem;
    height: 2rem;
    width: 100%;
    border-radius: 1rem;
    box-shadow: $light-drop-shadow-sm;
    :global(body.dark) & {
        box-shadow: $dark-drop-shadow-sm;
    }
}
.percentage {
    height: 2rem;
    border-radius: 1rem;
    background: linear-gradient(145deg, #00b60a, #009908);
    box-shadow: $light-drop-shadow-sm;
    :global(body.dark) & {
        box-shadow: $dark-drop-shadow-sm;
    }
}
