@import "theme-variables";

.listItem {
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 1.5rem;
    background: $light-bg;
    box-shadow: $light-shadow-md;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    @media only screen and (max-width: 768px) {
        padding: 1rem;
    }
    :global(body.dark) & {
        background-color: $dark-bg;
        box-shadow: $dark-shadow-md;
    }
}
.divider {
    min-width: 1px;
    max-width: 1px;
    background-color: #898f99;
    min-height: 2rem;
    align-self: stretch;
}
.link {
    white-space: pre-wrap;
    word-break: break-all;
    :global(body.dark) & {
        color: #fff;
    }
}
.flex {
    flex-grow: 1;
}
.buttonAlign {
    align-self: flex-end;
}
