.photo {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
