.headerText {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.flex {
    min-height: 30rem;
    height: 100%;
    display: flex;

    flex-direction: column;
    //justify-content: space-between;
}
